<h1>About Splurty</h1>

<br/>

<div class="row">
	<div class="col-12 col-sm-5">
		<%= image_tag 'kevin.jpg', class: 'img-fluid' %>
	</div>

	<div class="col-12 col-sm-6 offset-sm-1">
		<h2 class="text-center">Kevin Lane</h2>
		<p>
			This version of Splurty was built by Kevin Lane, a computer science major at Bowdoin College.  He currently interns as a full stack web developer at Considdr.

		</p>
		<br />

		<p>
			He is an avid outdoorsman and Mets fan.
		</p>    
	</div>
</div>
<br class="clear" />


